<section class="login flex justify-center pt-24">
  <div class="max-w-md w-full">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
          <label
            for="username"
            class="block text-grey-700 text-sm font-bold mb-2"
            >Email</label
          >
          <input
            id="username"
            name="username"
            placeholder="Enter your email"
            type="email"
            class="shadow appearance-none border rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
         
       </div>
        <div class="mb-6">
          <label for="password" class="block text-grey-700 text-sm font-bold mb-2"">Password</label>
          <input
            id="password"
            name="password"
            type="password"
           placeholder="Password"
           class="shadow appearance-none border rounded w-full px-3 py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
          <p class="text-red-500 text-xs italic">PLease choose a password.</p>
        </div>

      <div class="flex items-center justify-between">
        <button
          type="button"
          class="btn-primary text-white rounded-full font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >Login In</button>
          <a href="/register" class="inline-block align-baseline font-bold text-sm">
            Don`t have a account?
          </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
        &copy; 2021 Raj Technical Corp All rights reserved
    </p>
  </div>
</section>

